@import "variables";
@import "mixins";
@import "reboot";

.main {
  background-color: $white;
  width: 80%;
  margin: 200px auto auto;
  padding: 2%;
}

.basic-info-section {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;

  p {
    margin: auto;
    padding: 0;
    width: 80%;
  }

  .basic-info-hallo {
    font-weight: bolder;
    margin: 0 auto 10px auto;
    font-size: 3rem;
  }

  .basic-info-content {
    font-weight: bolder;
    font-size: 2.3rem;
  }
}

.basic-info-image {
  position: relative;
  top: -105px;
  margin: -65px;
  border-radius: 100%;
}

.main-bar {
  margin: 15px 0;
  border: 2px solid $gray;
  opacity: 0.1;
}

.about-me-title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: $primary-color;
}

.about-me-content {
  margin: 20px 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
